body{
    background-image: url(poster.png);
    background-size: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
   
}

.search-container {
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    margin: auto ;

    background-color: transparent;
    border: 1px solid white;
    display: inline-block;
}

.search-form_txt{
    border: none;
    outline: none;

}

.search-form_btn{
    background-color: transparent;
    border: none;
   
}
nav ul li {
    list-style: none;
    display: inline-block;
    margin: 10px 20px; 
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    font-weight: bold;
}